@media screen and (max-width: 576px) {
  header {
    padding: 2rem 4rem;
  }
  nav,
  .team {
    flex-direction: column;
  }
  nav h3 {
    font-size: 2rem;
  }
  nav ul {
    margin: 2rem auto 2rem 1rem;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .team-text-container {
    text-align: center;
  }
  .team-text-container h3,
  .bold-text,
  .txt-primary {
    font-size: 2rem;
  }
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 30rem;
  }
  .feature-header {
    margin-left: 1rem;
  }
  .feature-card {
    height: 10rem;
    width: 30rem;
    margin-bottom: 2rem;
  }
  .feature-image img {
    width: 90%;
    margin-left: 3rem;
  }
  .feature-image button {
    bottom: -2.5rem;
    right: auto;
    left: 0rem;
    font-size: 2.5rem;
    line-height: 2rem;
    padding: 1.2rem 1.5rem;
  }
  .feature-image button span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    padding: 2rem 4rem;
  }
  nav,
  .team {
    flex-direction: column;
  }
  nav h3 {
    padding: 1.5rem 0;
  }
  nav ul {
    justify-content: space-between;
    padding-left: revert;
  }
  nav ul li {
    margin: 0;
    padding-right: 2rem;
  }
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .feature-image {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  header {
    padding: 3rem 4.5rem;
  }
  .team,
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
