/* work sens fron google font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* shared stle */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.2rem 1.5rem;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  width: 180px;
  height: 64px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.txt-primary {
  color: #ff900e;
  font-size: 2.9rem;
  font-weight: 700;
}
.bold-text {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
}

/* header style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 3rem 14.375rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav h3 {
  color: #131313;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul li {
  list-style: none;
  margin-left: 3rem;
}

nav ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-text {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  padding: 1rem 0;
}

.banner img {
  width: 100%;
}

/* Main section styling */

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* team section styling */

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 4rem;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-img-container img {
  height: 21.375rem;
  width: 21.375rem;
}

.team-text-container {
  max-width: 33.5rem;
  /* text-align: left; */
}

.team-text-container h3 {
  margin-top: 2rem;
  color: #727272;
  font-size: 2.9rem;
  font-weight: 500;
}

.team-text-container p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 2rem 0;
}

/* feature section styling */

.feature {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature-content h3 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
  position: relative;
  margin-left: 1.25rem;
  margin-bottom: 1.5rem;
}
.feature-content h3::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 106px;
  left: -1.25rem;
  background: #ff900e;
}
.feature-content p {
  max-width: 35rem;
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.5rem;
}

.feature-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}
.feature-card {
  width: 586px;
  height: 171px;
  padding: 1.875rem;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-card h4 {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.feature-card p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.image-container {
  position: relative;
}

.feature-image img {
  width: 95%;
}
.ten-years-badge {
  width: 300px;
  background-color: #ff900e;
  color: #fff;
  text-align: center;
  padding: 32px;
  border-radius: 8px;
  position: relative;
  bottom: 120px;
  left: -60px;
}
.ten-years-badge h2 {
  font-size: 3rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}

/* Fact section styling */

.fact {
  margin-top: 10rem;
}

.fact-head h3 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.fact-head p {
  color: #727272;
  max-width: 33.875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 6rem;
}

.fact-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.75rem;
}

.fact-card {
  width: 15rem;
  height: 15rem;
  border: 1px solid #ff900e;
  padding: 2.8rem 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.fact-card img {
  height: 45px;
  width: 45px;
  margin-bottom: 0.5rem;
}

.fact-card h4 {
  color: #424242;
  font-size: 2.9rem;
  font-weight: 600;
}
.fact-card p {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
}

/* sponsor section styling */

.sponsor {
  margin-top: 11.25rem;
}
.sponsor-head {
  max-width: 33.875rem;
  margin: 0 auto;
  text-align: center;
}

.sponsor-head h3 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.sponsor-head p {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 3.25rem;
}

.sponsor-image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
}

/* footer section styling */

footer {
  max-width: 90rem;
  margin: 15rem auto;
  text-align: center;
  background-color: #fff4e7;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
footer p {
  color: #424242;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
